__pycache__/
*.pyc
*~
venv/
Face_Enhancement/face_checkpoints.zip
Face_Enhancement/models/networks/sync_batchnorm/__init__.py
Face_Enhancement/models/networks/sync_batchnorm/batchnorm_reimpl.py
Face_Enhancement/models/networks/sync_batchnorm/batchnorm.py
Face_Enhancement/models/networks/sync_batchnorm/comm.py
Face_Enhancement/models/networks/sync_batchnorm/replicate.py
Face_Enhancement/models/networks/sync_batchnorm/unittest.py
Face_Enhancement/checkpoints/FaceSR_512/latest_net_G.pth
Face_Enhancement/checkpoints/Setting_9_epoch_100/latest_net_G.pth
Face_Detection/shape_predictor_68_face_landmarks.dat
Global/checkpoints/detection/FT_Epoch_latest.pt
Global/checkpoints/label2city/opt.txt
Global/checkpoints/restoration/VAE_A_quality/latest_net_D.pth
Global/checkpoints/restoration/VAE_A_quality/latest_net_featD.pth
Global/checkpoints/restoration/VAE_A_quality/latest_net_G.pth
Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_D.pth
Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_featD.pth
Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_G.pth
Global/checkpoints/restoration/VAE_B_quality/latest_net_D.pth
Global/checkpoints/restoration/VAE_B_quality/latest_net_G.pth
Global/checkpoints/restoration/VAE_B_quality/latest_optimizer_D.pth
Global/checkpoints/restoration/VAE_B_quality/latest_optimizer_G.pth
Global/checkpoints/restoration/VAE_B_scratch/latest_net_D.pth
Global/checkpoints/restoration/VAE_B_scratch/latest_net_G.pth
Global/checkpoints/restoration/VAE_B_scratch/latest_optimizer_D.pth
Global/checkpoints/restoration/VAE_B_scratch/latest_optimizer_G.pth
Global/checkpoints/restoration/mapping_Patch_Attention/latest_net_D.pth
Global/checkpoints/restoration/mapping_Patch_Attention/latest_net_mapping_net.pth
Global/checkpoints/restoration/mapping_quality/latest_net_D.pth
Global/checkpoints/restoration/mapping_quality/latest_net_mapping_net.pth
Global/checkpoints/restoration/mapping_quality/latest_optimizer_D.pth
Global/checkpoints/restoration/mapping_quality/latest_optimizer_mapping_net.pth
Global/checkpoints/restoration/mapping_scratch/latest_net_D.pth
Global/checkpoints/restoration/mapping_scratch/latest_net_mapping_net.pth
Global/checkpoints/restoration/mapping_scratch/latest_optimizer_D.pth
Global/checkpoints/restoration/mapping_scratch/latest_optimizer_mapping_net.pth
Global/detection_models/sync_batchnorm/__init__.py
Global/detection_models/sync_batchnorm/batchnorm_reimpl.py
Global/detection_models/sync_batchnorm/batchnorm.py
Global/detection_models/sync_batchnorm/comm.py
Global/detection_models/sync_batchnorm/replicate.py
Global/detection_models/sync_batchnorm/unittest.py
Global/global_checkpoints.zip
